<div>
    <h1>Namespaces</h1>
    <div>
        <input class="form-check-input" type="checkbox" id="setWatchNamespace"
            [ngModel]="namespaceListService.watchNamespaces"
            (ngModelChange)="namespaceListService.setWatchNamespace($event)">
        <label class="form-check-label" for="setWatchNamespace">Auto refresh</label>
    </div>
    <div>
        <input class="form-check-input" type="checkbox" id="setConnectToMongo"
            [ngModel]="namespaceListService.connectToMongo" [disabled]="(selectedName$ | async) === undefined"
            (ngModelChange)="namespaceListService.setConnectToMongo($event)">
        <label class="form-check-label" for="setConnectToMongo">Connect to mongo</label>
    </div>
    <table class="table table-hover bs-component">
        <thead>
            <th>name</th>
            <th>status</th>
            <th>age</th>
            <th></th>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let namespace of (namespaces$ | async)" [ngClass]="[getRowClass(namespace) | async]"
                (click)='setSelected(namespace)'>
                <td>{{namespace.name}}</td>
                <td>{{namespace.status}}</td>
                <td>{{namespace.age}}</td>
            </tr>
    </table>
</div>