<H1>Pods</H1>
<div>
    <input class=" form-check-input" type="checkbox" id="flexCheckDefault" [ngModel]="podListService.watchPods"
        (ngModelChange)="podListService.setWatchPods($event)">
    <label class="form-check-label" for="flexCheckDefault">Auto refresh</label>
    <div>
        <button class="btn btn-primary" (click)="getConfig()"
            [disabled]="(selectedPod$ | async) === undefined || (selectedPod$ | async)!.name!.includes('mongodb')">Get
            Config</button>
    </div>
</div>
<div *ngIf="(hasPods$ |async); else loading">
    <table class="table table-hover bs-component">
        <thead>
            <th>Name</th>
            <th>index</th>
            <th>ready</th>
            <th>status</th>
            <th>restarts</th>
            <th>age</th>
            <th></th>
        </thead>
        <tbody>
            <tr scope=" row" *ngFor="let pod of (pods$ |async);let i = index;" [ngClass]="getRowClass(pod) | async "
                (click)='setSelected(pod)'>
                <td>{{pod.displayName}}</td>
                <td>{{pod.index}}</td>
                <td [ngClass]="getReadyClass(pod.ready)">{{pod.ready}}</td>
                <td>{{pod.status}}</td>
                <td>{{pod.restarts}}</td>
                <td>{{pod.age}}</td>
            </tr>
    </table>
</div>
<ng-template #loading class="loader"></ng-template>