<div class="container kube-controller-container row">
    <div class="container namespace-list-container bs-component">
        <kube-controller-namespace-list></kube-controller-namespace-list>
    </div>
    <div class="container pods-list-container">
        <kube-controller-pod-list></kube-controller-pod-list>
    </div>
    <div class="container logs-list-container">
        <kube-controller-logs-list></kube-controller-logs-list>
    </div>
    <div class="container config-list-container">
        <kube-controller-config-list></kube-controller-config-list>
    </div>
</div>